{% extends "main/layout.html" %}
{% block body %}

<!-- Possible Sign-up Alternative -->

<!-- <form name="signup">
  <input type="text" id="fname" name="fname" placeholder="First Name"><br>
  <input type="text" id="lname" name="lname" placeholder="Last Name"><br>
  <input type="text" id="email" name="email" placeholder="Email"><br>
  <input type="text" id="username" name="username" placeholder="Username"><br>
  <input type="text" id="password" name="password" placeholder="Password"><br>
  <input type="text" id="cpassword" name="cpassword" placeholder="Confirm Password"><br>
  <input type="submit" value="Submit">
</form> -->
<div>
<h1> Register </h1>
<br/>

<!-- register form -->

<form method="POST" action="{% url 'index' %}">
  {% csrf_token %}
	{% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
  {{ form.as_p }}
    <br/>
    <button type="submit">Register</button>
  </form>
</div>
{% endblock%}