{% extends "main/layout.html" %}
{% block body %}
<!-- <form name="signup">
  <input type="text" id="fname" name="fname" placeholder="First Name"><br>
  <input type="text" id="lname" name="lname" placeholder="Last Name"><br>
  <input type="text" id="email" name="email" placeholder="Email"><br>
  <input type="text" id="username" name="username" placeholder="Username"><br>
  <input type="text" id="password" name="password" placeholder="Password"><br>
  <input type="text" id="cpassword" name="cpassword" placeholder="Confirm Password"><br>
  <input type="submit" value="Submit">
</form> -->
{% endblock%}